/* Footer.css */
.footer {
    background-color: rgb(12, 236, 83); 
    color: rgb(255, 255, 255);
    text-align: center; 
    padding: 20px; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .footer p {
    margin: 0; 
    font-size: 14px; 
  }
  